<div class="row">
  <div class="col-md-4">
    <div class="well well-sm">
      <dl *ngIf="company">
        <dd>Id</dd>
        <dt>{{company.id}}</dt>
        <dd>Password</dd>
        <dt>{{company.password}}</dt>
      </dl>
    </div>
    <request-generator></request-generator>
  </div>
  <div class="col-md-5">
    <h1>{{title}}</h1>
    <h2>My Heroes</h2>
    <ul class="heroes">
      <li *ngFor="#hero of heroes" 
        (click)="onSelect(hero)" 
        [class.selected]="hero === selectedHero" >
        <span class="badge">{{hero.id}}</span> {{hero.name}}
      </li>
    </ul>
    <my-hero-detail [hero]="selectedHero"></my-hero-detail>
  </div>
</div>
