<h2>Requests</h2>

<div class="request-list">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Status</th>
      </tr>
    </thead>  
    <tbody>
      <tr *ngFor="#request of requests.list" (click)="selectRequest(request)">
        <th scope="row">{{request.type}}</th>
        <td>{{request.action}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="request">
  <p>{{request.id}}</p>
  <textarea rows="15" style="width: 100%;">{{request.quickbooks_response}}</textarea>
</div>

<request-detail [request]="selectedRequest"></request-detail>
