<h3>Create request</h3>
<form (ngSubmit)="onSubmit()" #heroForm="ngForm">
  <div class="form-group">
    <label for="type">Type</label>
    <select class="form-control" required [(ngModel)]="model.type"
        ngControl="type" #type="ngForm" >  
      <option *ngFor="#type of types" [value]="type">
        {{type}}
      </option>
    </select>

    <label for="action">Action</label>
    <select class="form-control" required [(ngModel)]="model.action"
      ngControl="action" #type="ngForm" >
      <option *ngFor="#action of actions" [value]="action">
        {{action}}
       </option>
    </select>
    
    <div [hidden]="type.valid" class="alert alert-danger">
      Type is required
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      <div class="panel panel-default">
        <div class="panel-body">
          {{model.type}} + {{model.action}}
        </div>
      </div>
    </div>
  </div>
  <request-form [request]="model"></request-form>
  <button type="submit" class="btn btn-default" 
    [disabled]="!heroForm.form.valid">Submit</button>
</form>
