<!DOCTYPE html>
<html>
  <head>
    <title>Qbwc Integrator</title>
    <%= javascript_include_tag 'common' %>
    <%= javascript_include_tag 'vendor' %>
    <%= javascript_include_tag 'app' %>
    <%= stylesheet_link_tag 'app' %>
  </head>
  <body>
    <app>Loading...</app>
  </body>
</html>
